{% extends "math_app/base.html" %}
{% block content %}
	<div style = "position:relative; left:0px; top:95px;">
		<h2>About the Math Calculator</h2>
		<h>The Math Calculator provides students with the tools they need to understand and solve their math problems. All you need to do is press on the courses drop down menu, pick a course and the Math Calculator will solve your problem in an easy to understand way. If you sign in, you will have access to all of your past solved problems!</h>
	</div>

	<div style = "position:relative; left:0px; bottom:-155px;">
	<h2>Our Goal</h2>
	<h>The goal of the Math Calculator is to make quality on-demand math assistance accessible to everybody. The Math Calculator long-term creative goal is to deliver increasing features and functionality over the years to come.</h>
	</div>
{% endblock content %}
