{% extends "math_app/base.html" %}
{% block content %}
	<form style = "position:relative; top:90px;">
      <h2>Algebra</h2> 
      <h>Compute an algebra problem</h>

      <div style = "position:relative; top:15px; ">

      	<textarea id="canvasId" oninput="this.value = this.value.replace(/\n/g,'')" style="width:79%; height:40px; font-size:24px; overflow:hidden; resize: none;" name="text_input" value = {{result}}></textarea>
		<style>input {width:8%; min-height: 50px;}</style>
		<div class="keyboard" id="keyboard" style = "width:85%; height:100%; ">
			<div class="keyboard_holder">
				<div id="keyboard_math" class="keyboard_math_left">
					<input type="button" styleclass="letter" onclick="insertTextInInputValue('(');"value="(">
							<input type="button" class="letter" onclick="insertTextInInputValue(')');"value=")">
							<input type="button" class="letter" onclick="insertTextInInputValue('|');"value="|">
							<input type="button" class="letter" onclick="insertTextInInputValue('[');"value="[">
							<input type="button" class="letter" onclick="insertTextInInputValue(']');"value="]">
							<input type="button" class="letter" onclick="insertTextInInputValue('/');"value="/">
							<input type="button" class="letter" value="&ge;">
							<input type="button" class="letter" value="&le;">
							<input type="button" class="letter" onclick="insertTextInInputValue('<');"value="<">
							<input type="button" class="letter" onclick="insertTextInInputValue('>');"value=">">
							<input type="button" class="letter" onclick="insertTextInInputValue('^');"value="^">
							<input type="submit" class="letter" value="=">
                            <input type="button" class="letter" onclick="insertTextInInputValue(1);"value="1"></input>
                            <input type="button" class="letter" onclick="insertTextInInputValue(2);"value="2"></input>
							<input type="button" class="letter" onclick="insertTextInInputValue(3);"value="3">
							<input type="button" class="letter" onclick="insertTextInInputValue(4);"value="4">
							<input type="button" class="letter" onclick="insertTextInInputValue(5);"value="5">
							<input type="button" class="letter" onclick="insertTextInInputValue(6);"value="6">
							<input type="button" class="letter" onclick="insertTextInInputValue(7);"value="7">
							<input type="button" class="letter" onclick="insertTextInInputValue(8);"value="8">
							<input type="button" class="letter" onclick="insertTextInInputValue(9);"value="9">
							<input type="button" class="letter" onclick="insertTextInInputValue(0);"value="0">
							<input type="button" class="letter" onclick="insertTextInInputValue('+');"value="+">
							<input type="button" class="letter" onclick="insertTextInInputValue('-');"value="-">
							<input type="button" class="letter" onclick="insertTextInInputValue('x');"value="&times;">
							<input type="button" class="letter" onclick="insertTextInInputValue('/');"value="&divide;">
							<input type="button" class="letter" onclick="insertTextInInputValue('.');"value=".">
							<input type="button" class="letter" onclick="insertTextInInputValue('log(');"value="log">
							<input type="button" class="letter" onclick="insertTextInInputValue('ln(');"value="ln">
							<input type="button" class="letter" onclick="insertTextInInputValue('e');"value="e">
							<input type="button" class="letter" onclick="insertTextInInputValue('i');"value="i">
							<input type="button" class="letter" onclick="insertTextInInputValue('u\03C0');"value="&pi;">
							<input type="button" class="letter" onclick="insertTextInInputValue('sqrt(');"value="&radic;">
						</div>
				</div>
		</div>
	</div>

<div style=" position: relative; top:25px;">
	 <button class="btn btn-primary" type="submit">Evaluate</button>
</div>

	</form>
</div>
{% endblock content %}
