{% extends "math_app/base.html" %}
{% block content %} 
<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>

<div style = "position:relative; top:90px;">
<body>
<h2>Math Calculator History: {{user}}</h2></head>
<p>Check out all of your past entries below!</p><br>

<table style="width:100%">
  <tr>
    <th>Courses</th>
    <th>Math Equation</th>
    <th>Time Posted</th>
  </tr>
    {% for item in equation %}
    <tr>
    <td>{{item.type_of_math}}</td>
    <td>{{item.math}}</td>
    <td>{{item.time_posted}}</td>
</tr>

{% endfor %}
</table>
</body>
</html>


{% endblock content %}