{% extends "math_app/base.html" %}
{% block content %}
	<div style = "position:relative; top:150px; left:10%; height:100%; width:100%">
      <h1>Welcome to the Math Calculator!</h1>
      <h4>Select a course from the drop down menu above to get started. Click on the "About" tab to learn more about us. Create an account and sign in to save to save your calculation history.</h4>

      <h2>Feeling stuck?</h2>
      <p>
      {% load static %} <img src="{% static "math_app/media/math1.jpeg" %}" alt="Math1"/>
      </p>
      <br><h2>We can help!</h2>


      <br><br>

	</div>

{% endblock content %}
