{% extends "math_app/base.html" %}
{% block content %}
	<div style = "position:relative; top:90px;">
        <h1>Welcome to the Math Calculator!</h1>
        <br>
        <h5> ★ Select a course from the drop down menu above to get started.</h5>
        <div style = "position:relative; top:10px;">
            <h5> ★ Click on the "About" tab to learn more about us.</h5>
        </div>
        <div style = "position:relative; top:20px;">
            <h5> ★ Create an account and sign in to save to save your calculation history.</h5>
        </div>
        <br>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <br><br><h3>Feeling stuck?</h3>
        <p>
        {% load static %} <img src="{% static "math_app/media/math1.png" %}" alt="Math1"/>
        </p>
        <br><h3>We can help!</h3>
        {% load static %} <img src="{% static "math_app/media/math2.png" %}" alt="Math2"/>
        <br><br>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <h3> Our Goals </h3>
        The goal of the Math Calculator is to make quality on-demand math assistance accessible to everybody. The Math Calculator long-term creative goal is to deliver increasing features and functionality over the years to come.
      <br><br><br>

	</div>

{% endblock content %}
