{% extends "math_app/base.html" %}
{% block content %}     
<div style = "position:relative; left:0px; top:45px;">
<div class="container py-5">
  
    <h2>Log In</h2>
  
  <form action="/login/" method="POST">
    {% csrf_token %}
    <label for="">Username*</label><br>
    <input type="text" id="username" name="username" Required><br>
    <label for="">Password*</label><br>
    <input type="password" id="pass1" name="pass1" Required><br><br>

    <button class="btn btn-primary" type="submit">Log in</button>
  </form>
  <p class="text-center">If you don't have an account, <a href="{% url 'math-register' %}">register</a> instead.</p>
</div>
</div>
{% endblock %}