{% extends "math_app/base.html" %}
{% block content %}     
{% load crispy_forms_tags %}

<div style = "position:relative; left:0px; top:45px;">
  <div class="container py-5">
    <h2>Log In</h2>
    <form method="POST">
      {% csrf_token %}
      {{ login_form|crispy }}
      <div style = "position:relative; left:0px; top:15px;">
        <button class="btn btn-primary" type="submit">Log in</button>
    </div>
    </form>
    <div style = "position:relative; left:0px; top:50px;">
      <p class="text-center">Don't have an account? <a href="{% url 'math-register' %}">Create an account</a>.</p>
  </div>
  </div>
</div>
{% endblock %}