{% extends "math_app/base.html" %}
{% block content %} 
{% load crispy_forms_tags %}         

<div style = "position:relative; left:0px; top:45px;">
<div class="container py-5">
	
		<h2>Register</h2>
	
	<form action="/register/" method="POST">
		{% csrf_token %}
		<label for="">Username*</label><br>
		<input type="text" id="username" name="username" Required><br>
		<label>Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</label><br><br>
		<label for="">Email*</label><br>
		<input type="email" id="email" name="email" Required><br>
		<label for="">Password*</label><br>
		<input type="password" id="pass1" name="pass1" Required><br><br>
		<label><ul>
			<li>Your password must contain at least 8 characters.</li>
			<li>Your password can't be a commonly used password</li>
			<li>Your password can't be entirely numeric</li>
		</ul></label><br>
		<label for="">Password Confirmation*</label><br>
		<input type="password" id="pass2" name="pass2" Required><br><br> 

		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'math-login' %}">login</a> instead.</p>
</div>
</div>
{% endblock content %}
