{% extends "math_app/base.html" %}
{% block content %}
	<div style = "position:relative; top:90px; ">
      <h2><div> Statistics</div></h2>
		<div style = "position:relative;"> 
       	<h>Compute a statics problem</h>
   	</div>
   	<div style = "position:relative; top:10px;"> 
         <label for="input">Enter Data Set:
      </div>
               <div style = "position:relative; top:10px;"> 
              	</label>
                     <textarea name="input" id="input" cols="35" rows="5" autofocus="" required=""></textarea>
            	</div>

               <div style=" position: relative; top: 20px; left:20%;">
	 					<button class="btn btn-primary" type="submit">Evaluate</button>
					</div>

               <div class="clearBoth"></div>
               <div style = "position:relative; top:25px;"> 
               <h5><div id="calculatorAnswer"> Answer:</h5>
               </div>
			</div>
         <!-- idea is that someone enters a set of numbers and when evaluate is pressed, print the mean, median, mode, min, max, std dev per the math functions in main-->
{% endblock content %}
