{% extends "math_app/base.html" %}
{% block content %}
	<div style = "position:relative; top:100px; left:10%; height:100%; width:100%">
      <h2>Trigonometry</h2>
      <h>Compute a basic trigonometry problem</h><br><br>

      <h3>Solve in degrees</h3><br><br>
      <br><h>Enter a number in degrees:</h><br>

      <textarea id="canvasId" oninput="this.value = this.value.replace(/\n/g,'')" style="width:20%; height:40px; font-size:24px; overflow:hidden; resize: none;" name="num_deg"></textarea><span style="margin-left:20px;">deg</span>
      <style>input {width:8%; min-height: 50px;}</style>

		<div class="keyboard" id="keyboard" style = "width:85%; height:100%; ">
         <br><h>Select operation:</h>
            <div class="keyboard_holder">
					<div id="keyboard_math" class="keyboard_math_left">
						<input type="button" styleclass="letter" value="sin">
							<input type="button" class="letter" value="cos">
							<input type="button" class="letter" value="tan">
                     <input type="button" class="letter" value="cot">
							<input type="button" class="letter" value="sec">
                     <input type="button" class="letter" value="csc">
							</div>
						</div> 
	              </div>
					</div>
					<div style=" position: relative; top:150px; left:80%;">
						 <button class="btn btn-primary" type="submit">Evaluate</button>
                </div>


      <br><br><br>
      <h3>Solve in radians</h3><br><br>
      <br><h>Enter a number in radians:</h><br>

      <textarea id="canvasId" oninput="this.value = this.value.replace(/\n/g,'')" style="width:20%; height:40px; font-size:24px; overflow:hidden; resize: none;" name="num_deg"></textarea><span style="margin-left:20px;">rad</span>
      <style>input {width:8%; min-height: 50px;}</style>

      <div class="keyboard" id="keyboard" style = "width:85%; height:100%; ">
         <br><h>Select operation:</h>
           <div class="keyboard_holder">
               <div id="keyboard_math" class="keyboard_math_left">
                  <input type="button" styleclass="letter" value="sin">
                     <input type="button" class="letter" value="cos">
                     <input type="button" class="letter" value="tan">
                     <input type="button" class="letter" value="cot">
                     <input type="button" class="letter" value="sec">
                     <input type="button" class="letter" value="csc">
                     </div>
                  </div>
                 </div>
               </div>
               <div style=" position: relative; top:150px; left:80%;">
                  <button class="btn btn-primary" type="submit">Evaluate</button>
               </div>

{% endblock content %}
