{% extends "math_app/base.html" %}
{% block content %}
   <div style="position:relative; top:90px; ">
      <h2><div>Trigonometry</div></h2>
      <div style = "position:relative;">
         <h>Compute a basic trigonometry problem</h><br><br>

      </div>

      <div style="position:relative; top:10px;">
         <strong><label for="input">Enter a number and the calcuator will compute cosine, sine, tangent, secant, cosecant and cotangent for you in radians and degrees:</label></strong>
            <form method="post">
               {% csrf_token %}
         	   <div style = "position:relative; top:10px">
                  <textarea type="number" name="num_input" id="num_input" oninput="this.value = this.value.replace(/\n/g,'')" style="width:20%; height:40px; font-size:24px; overflow:hidden; resize: none;"></textarea><span style="margin-left:20px;">rad/deg</span>
               </div>

                <div style=" position: relative; top: 20px; left:18%;">
            			<button class="btn btn-primary" type="submit">Evaluate</button>
            	 </div>

                <div style="position:relative; top:25px">
                <br><h5>Answer in radians:</h5><br>
           </form>

     <style type="text/css">
         dummydeclaration { padding-left: 4em; }
         tab { padding-left: 2em; }
     </style>

     <h6>Cosine<tab>= </tab>{{cos}} radians</h6>
     <h6>Sine<tab>= </tab>{{sin}} radians</h6>
     <h6>Tangent<tab>= </tab>{{tan}} radians</h6>

     <h6>Secant<tab>= </tab>{{sec}} radians</h6>
     <h6>Cosecant<tab>= </tab>{{csc}} radians</h6>
     <h6>Cotangent<tab>= </tab>{{cot}} radians</h6>

     </div>
   </div>



   <div style="position:relative; top:50px;">
      <br><h5>Answer in degrees:</h5><br>

 <style type="text/css">
     dummydeclaration { padding-left: 4em; }
     tab { padding-left: 2em; }
 </style>

 <h6>Cosine<tab>= </tab>{{cos_d}} degrees</h6>
 <h6>Sine<tab>= </tab>{{sin_d}} degrees</h6>
 <h6>Tangent<tab>= </tab>{{tan_d}} degrees</h6>

 <h6>Secant<tab>= </tab>{{sec_d}} degrees</h6>
 <h6>Cosecant<tab>= </tab>{{csc_d}} degrees</h6>
 <h6>Cotangent<tab>= </tab>{{cot_d}} degrees</h6>

 </div>
</div>

{% endblock content %}
